.career_container{
    padding-top: 20px;
}

.headerImage {
    width: 12vw;
    height: 8vh;
    margin-right: 10px;
    border-radius: 7px;
}

.modalImage {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.card{
    cursor: pointer;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media screen and (min-width:330px) and (max-width:950px){
    .career_container{
        padding-top: 20px;
        position: relative;
        left: 11vw;
    }

    .headerImage {
        width: 19vw;
        height: 4vh;
        margin-right: 10px;
    }
}
