* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

/* Career Page --------------------------- */
.__careerPage {
    margin: 3em;
    overflow: hidden;
}

.__headerText {
    font-family: "Poetsen One", sans-serif;
    font-weight: 100;
    padding-bottom: 10px;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.__headerDesc {
    margin: .5em 0;
    font-size: 16px;
}

.__section {
    display: flex;
    align-items: center;
    gap: 2em;
    background: rgb(249, 249, 237);
    padding: 1em 2em;
}

.__cultureImg,
.__commitmentImg,
.__corporateImg,
.__profDevImg,
.__globalTeamImg {
    width: 100%;
    height: 56vh;
    object-fit: contain;
    border-radius: 10px;
}

.__corporateImg {
    height: 220px;
}

.__commitmentImg {
    height: 200px;
}

.__profDevImg {
    height: 250px;
}

.__globalTeamImg {
    height: 200px;
}

.__careerDesc {
    margin: 2em auto;
    padding: 1em 2em;
    background: rgb(249, 249, 237);
}

.__careerDesc h5,
.career_container h5 {
    font-weight: 600;
}

span {
    font-weight: 600;
}

ol li,
ul li {
    line-height: 2;
}

.career_container {
    padding-top: 20px;
}

.headerImage {
    width: 12vw;
    height: 8vh;
    margin-right: 10px;
    border-radius: 7px;
}

.modalImage {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    object-fit: cover;
}

.card {
    cursor: pointer;
    transition: 300ms ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media screen and (min-width:330px) and (max-width:950px) {
    .__careerPage {
        margin: 2em 1em;
    }

    .__section {
        flex-direction: column;
        padding: 1em;
    }

    .__cultureImg,
    .__commitmentImg,
    .__corporateImg,
    .__profDevImg,
    .__globalTeamImg {
        object-fit: cover;
    }

    .__headerDesc {
        text-align: justify;
    }

    .career_container {
        padding-top: 20px;
        position: relative;
        /* left: 11vw; */
    }

    .headerImage {
        width: 19vw;
        height: 4vh;
        margin-right: 10px;
    }
    .__careerDesc{
        padding: 1em;
    }
}