@import "../../Font.css";

.scroll_to_top {
  position: fixed;
  bottom: 40px;
  left: 40px;
  z-index: 1000;
}

.scroll_button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.4s, visibility 0.4s;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
  }
}

.scroll_button:hover {
  background-color: #0056b3;
}
