@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Poetsen One", sans-serif; */
    font-family: "Merriweather", serif;

    /* font-family: "Oswald", sans-serif; */
    /* font-optical-sizing: auto; */
    /* font-style: normal; */
}

.__discoverPage {
    /* border: 1px solid red; */
    margin: 3em;
    /* height: 100vh; */
}

.__header {
    padding: 1em 0;
}

.__headerText {
    font-family: "Poetsen One", sans-serif;
    font-weight: 100;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: italic;
}

.__headerDesc {
    margin: .5em 0;
}

.__headerDesc,
.__cardDescription {
    color: rgb(100, 100, 100);
}

.__container {
    /* border: 1px solid; */
    margin: 2em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.__card {
    border: 1px solid rgb(185, 185, 185);
    width: 300px;
    height: 350px;
    cursor: pointer;
    position: relative;
    transition: 500ms ease;
    overflow: hidden;
}

.__card:hover {
    /* background: rgb(240, 246, 251); */
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.__cardImg {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.__cardTitle {
    margin-top: .5em;
    font-weight: 600;
}

.__cardDescription {
    /* border: 1px solid red; */
    margin-top: .5em;
    line-height: 1.5;
}

.__cardTitle,
.__cardDescription {
    padding-left: 15px;
}

.__cardBtn {
    border: 1px solid red;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -90px;
    bottom: 10px;
    background: transparent;
    border: none;
    color: #4834DF;
    transition: 400ms ease;
    font-weight: 600;
}

.__arrowIcon {
    font-size: 22px;
}

.__card:hover .__cardBtn {
    left: 15px;
}

.__serviceContainer {
    border: 1px solid red;
}

.__serviceCard {
    width: 300px;
    height: 350px;
    border: 1px solid blue;
}

/* Details Page------------------------ */
.__mainContainer{
    /* border: 1px solid; */
    margin: 3em;
}
.__image{
    width: 100%;
    height: 600px;
    object-fit: cover;
    padding: 0 1em;
}

@media only screen and (max-width:1056px) and (min-width:770px){
    .__card{
        width: 450px;
        height: 440px;
    }
    .__cardImg{
        height: 240px;
    }
}