a{
    text-decoration: none;
}
.topnavbarlink{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}
.navrouterlink{
    color: #282454;
}
.navrouterlink:hover{
    color: blue;
    transition: all 0.5s;
}
.widthlink{
    height: 2px;
    width: 30px;
    background-color: #f8a8a8;
}
